[submodule "backend"]
	path = backend
	url = git@github.com:YNU-Software-Engineering-Project/backend-spring.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:YNU-Software-Engineering-Project/frontend-react.git
[submodule "db"]
	path = db
	url = git@github.com:YNU-Software-Engineering-Project/database-db.git
