[submodule "backend"]
	path = backend
	url = https://github.com/YNU-Software-Engineering-Project/backend-spring.git 
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/YNU-Software-Engineering-Project/frontend-react.git
	branch = main
[submodule "db"]
	path = db
	url = https://github.com/YNU-Software-Engineering-Project/database-db.git
	branch = main
